{% load static %}  

<link rel="stylesheet" href="{% static 'css/header.css' %}">

<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet">
<link rel="icon" href="{% static 'favicon.ico' %}" type="image/x-icon">



<header>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
      <a class="navbar-brand" href="{% url 'index' %}">
        <h2>Profili <span class="text-primary">Igrača <img src="{% static 'assets/images/football.png' %}" alt="Football" class="icon-image"></span></h2>
      </a>
      <!-- Navbar toggle button -->
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive"
        aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <!-- Collapsible navbar -->
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item">
            <a class="nav-link" href="{% url 'index' %}">Igrači</a>
          </li>
          {% if user.is_authenticated %}
          <li class="nav-item">
            <a class="nav-link" href="{% url 'create' %}">Dodaj Igrača</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'profile' user.id %}">Profil</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-primary" href="{% url 'logout' %}">Izloguj se</a>
          </li>
          {% else %}
          <li class="nav-item">
            <a class="nav-link" href="{% url 'signin' %}"><i class="fa fa-user"></i> Prijava</a>
          </li>
          {% endif %}
        </ul>
      </div>
    </div>
  </nav>
</header>

<div id="preloader" style="display: flex; justify-content: center; align-items: center; height: 100vh; background-color: #fff;">
  <div class="jumper">
    <div></div>
    <div></div>
    <div></div>
  </div>
</div>

<div class="main-banner header-text">
  <div class="container-fluid">
    <div class="owl-banner owl-carousel">
    </div>
  </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.min.js"></script>



<script>
  window.addEventListener('load', function () {
    const preloader = document.getElementById('preloader');
    preloader.style.display = 'none';  
  });
</script>
